@font-face{
    font-family: 'Nanum';
    src: url('../font/Nanum_Pen_Script/NanumPenScript-Regular.ttf');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    display: block;
    max-width: 100%;
}

figure{
    width: fit-content;
    height: fit-content;
}

header{
    width: 100px;
    height: 400px;
    position: absolute;
    top: 280px;/* (padding-top)+(mainbg_height)x1/2 */
    left: 20px;
    color: #777777;
}

header .hambtn{
    display: none;
}

header ul li a{
    display: block;
    text-align: center;
}

header ul li a:hover{
    text-decoration: none;
    color: inherit;
}

header ul li a figure{
    margin: 5px auto;
}

main{
    height: 960px;
    padding-top: 100px;
    margin-bottom: 200px;
}

main>h2{
    display: none;
}

main .bgbox{
    width: 1190px;
    height: 760px;
    background-image: url('../image/mainbg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    position: absolute;
    top: 100px;
    left: calc(50% - 570px);
}

main .container{
    height: 760px;
}

main .container .row{
    height: 100%;
}

main .biglogo img{
    box-shadow: #888888 4px 4px 4px;
}

main .titlebox{
    text-align: center;
}

main .titlebox h1{
    font-size: 8rem;
    font-weight: 900;
    margin-bottom: 0;
}

main .titlebox h2{
    font-size: 2rem;
    font-weight: 400;
    margin-top: 0;
}

main .titlebox .btnbox{
    width: 430px;
    height: 100px;
    margin: 30px auto;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

main .titlebox .btnbox button{
    width: 200px;
    height: 100px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 600;
}

main .titlebox .btnbox button:first-of-type{
    background-color: #ff7f00;
    color: #ffffff;
}

main .titlebox .btnbox button:nth-of-type(2){
    background-color: #777777;
    color: #d9d9d9;
}

main>button{
    display: none;
}

#section1{
    height: 760px;
    margin-bottom: 100px;
    position: relative;
}

#section1 .bgbox{
    width: calc(calc(1140px + 97px) + calc(50% - 570px));
    height: 100%;
    background: linear-gradient(to right, #ff7f00, rgba(255,127,0,0.1));
    position: absolute;
}

#section1 .container{
    padding: 0;
    padding-top: 10px;
}

#section1 .subtitle{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

#section1 .subtitle h2{
    color: #ffffff;
    font-weight: 700;
    font-size: 4rem;
    margin-right: 20px;
}

#section1 .subtitle h3{
    color: #ffffff;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 200%;
}

#section1 .row:nth-of-type(2) p{
    font-size: 1rem;
}

#section1 .row:nth-of-type(2) p span{
    font-weight: 700;
}

#section1 .videobox{
    height: 500px;
    background-color: #777777;
}

#section1 .row:nth-of-type(4) p{
    text-align: center;
    font-size: 1.5rem;
}

#section1 .row:nth-of-type(4) p span{
    font-weight: 700;
}

#section1 .subPageLink{
    width: 300px;
    height: 100px;
    background-color: #dfdfff;
    position: absolute;
    top: 50px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.25);
    font-family: 'Nanum';
    font-size: 1.5rem;
}

#section1 .subPageLink .textbox{
    text-align: center;/*textbox는 없어도 됨*/
}

#section1 .subPageLink .textbox p{
    margin-top: 14px;
}

#section2{
    width: 100%;
    height: 860px;
    margin-bottom: 100px;
    padding-top: 10px;
    background: linear-gradient(to right, rgba(208, 112, 251, 0.5), rgba(255, 192, 203, 0.5));
}

#section2 .subtitle{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: #ffffff;
}

#section2 .subtitle h2{
    font-size: 3rem;
    font-weight: 700;
    margin-right: 20px;
}

#section2 .subtitle h3{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 200%;
}

#section2 .slide{
    height: 560px;
    position: relative;
}

#section2 .slide .slide1, #section2 .slide .slide2,
#section2 .slide .slide3, #section2 .slide .slide4,
#section2 .slide .slide5{
    position: absolute;
}

#section2 .slide .slide1{
    left: 0;
    z-index: 1;
}

#section2 .slide .slide2{
    left: 194px;
    z-index: 2;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.25);
}

#section2 .slide .slide3{
    left: 388px;
    z-index: 3;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.25);
}

#section2 .slide .slide4{
    right: 194px;
    z-index: 2;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.25);
}

#section2 .slide .slide5{
    right: 0;
    z-index: 1;
}

#section2 .slide .slide1 figure, #section2 .slide .slide2 figure,
#section2 .slide .slide3 figure, #section2 .slide .slide4 figure,
#section2 .slide .slide5 figure{
    position: absolute;
}

#section2 .slide .darkeffect{
    width: 364px;
    height: 560px;
}

#section2 .slide .slide1 .darkeffect, #section2 .slide .slide5 .darkeffect{
    background-color: #000000;
    opacity: 0.4;
}

#section2 .slide .slide2 .darkeffect, #section2 .slide .slide4 .darkeffect{
    background-color: #000000;
    opacity: 0.2;
}

#section2 p{
    text-align: center;
    margin-top: 100px;
}

#section2 p span{
    font-weight: 700;
}

#section3{
    height: 760px;
    padding-top: 50px;
    margin-bottom: 100px;
    position: relative;
}

#section3 .bgbox{
    width: calc(1140px + calc(50% - 570px));
    height: 100%;
    background: linear-gradient(to bottom, rgba(65, 105, 225, 0.5), rgba(204, 238, 255, 0.5));
    position: absolute;
    top: 0;
    right: 0;
}

#section3 .videobox{
    height: 300px;
    background-color: #777777;
}

#section3 .row:first-of-type{
    margin-bottom: calc(760px - calc(600px + 100px));
}

#section3 .row:first-of-type .subtitle{
    text-align: center;
}

#section3 .row:first-of-type .subtitle h2{
    font-size: 3rem;
    font-weight: 700;
    color: #ffffff;
}

#section3 .row:first-of-type .subtitle h3{
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 50px;
}

#section3 .row:first-of-type .subtitle p span{
    font-weight: 700;
}

#section3 .row:nth-of-type(2) .subtitle{
    text-align: center;
}

#section3 .row:nth-of-type(2) .subtitle span{
    font-weight: 700;
}

#section3 .subPageLink{
    width: 200px;
    height: 100px;
    background-color: #ffdfdf;
    position: absolute;
    bottom: 100px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.25);
    font-family: 'Nanum';
    font-size: 1.5rem;
}

#section3 .subPageLink p{
    text-align: center;
    margin-top: 14px;
}

#section4{
    height: 760px;
    padding-top: 10px;
    background: linear-gradient(to bottom, rgba(76, 136, 0, 0.3), rgba(171, 193, 1, 0.3) 50%, rgba(6, 136, 0, 0.3))
}

#section4 .subtitle{
    color: #ffffff;
    font-weight: 700;
}

#section4 .subtitle h2{
    font-size: 3rem;
}

#section4 .subtitle h3{
    font-size: 1.5rem;
}

#section4 p{
    text-align: end;
}

#section4 p span{
    font-weight: 700;
}

#section4 .videobox{
    height: 560px;
    background-color: #777777;
    margin-top: 50px;
}

.ending{
    margin-top: 100px;
    text-align: center;
    font-family: 'Nanum';
    font-size: 4rem;
    margin-bottom: 408px;
}

footer{
    width: 100%;
    height: 100px;
    background-color: #333333;
    text-align: center;
    color: #dfdfdf;
    padding-top: 20px;
}

footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    text-align: center;
}

footer ul li:not(:last-child)::after{
    content: '';
    display: inline-block;
    width: 1px;
    height: 12px;
    background-color: #dfdfdf;
    margin-left: 5px;
    margin-right: 5px;
}

@media screen and (max-width: 1200px) {
    html{
        font-size: 12px;
    }

    header{
        width: 75px;
        height: 300px;
        top: 270px;
        left: 10px;
    }

    main{
        height: 840px;
    }

    main .bgbox{
        width: 990px;
        height: 640px;
        left: calc(50% - 480px);
    }

    main .container{
        height: 640px;
    }

    main .container .titlebox .btnbox{
        width: 330px;
        height: 75px;
    }

    main .container .titlebox .btnbox button{
        width: 150px;
        height: 75px;
    }

    #section1{
        height: 640px;
    }

    #section1 .bgbox{
        width: 100%;
        height: 100%;
    }

    #section1 .container .videobox{
        height: 450px;
    }

    #section1 .subPageLink{
        width: 225px;
        height: 75px;
    }

    #section2{
        height: 740px;
    }

    #section2 p{
        margin-top: 50px;
    }

    #section3{
        height: 640px;
        padding-top: 20px;
    }

    #section3 .bgbox{
        width: 100%;
        height: 100%;
    }

    #section3 .container .videobox{
        height: 270px;
    }

    #section3 .row:first-of-type .subtitle h3{
        margin-bottom: 40px;
    }

    #section3 .subPageLink{
        width: 150px;
        height: 75px;
    }

    #section4{
        height: 640px;
    }

    #section4 .videobox{
        height: 500px;
        margin-top: 40px;
    }

}

@media screen and (max-width:992px) {
    html{
        font-size: 10px;
    }

    header{
        width: 63px;
        height: 250px;
        top: 225px;
        left: 10px;
    }

    main{
        height: 680px;
        margin-bottom: 150px;
    }

    main .bgbox{
        width: 750px;
        height: 480px;
        left: calc(50% - 360px);
    }

    main .container{
        height: 480px;
    }

    main .container .titlebox .btnbox{
        width: 260px;
        height: 60px;
    }

    main .container .titlebox .btnbox button{
        width: 120px;
        height: 60px;
    }

    #section1{
        height: 480px;
    }

    #section1 .container .videobox{
        height: 330px;
    }

    #section1 .subPageLink{
        width: 180px;
        height: 60px;
    }

    #section2{
        height: 580px;
    }

    #section2 .slide{
        display: none;/*임시용*/
    }

    #section2 p{
        margin-top: 30px;
    }

    #section3{
        height: 480px;
        padding-top: 15px;
    }

    #section3 .container .videobox{
        height: 220px;
    }

    #section3 .row:first-of-type{
        margin-bottom: calc(480px - calc(440px + 30px));
    }

    #section3 .row:first-of-type .subtitle h3{
        margin-bottom: 30px;
    }

    #section3 .subPageLink{
        width: 120px;
        height: 60px;
    }

    #section4{
        height: 480px;
    }

    #section4 .videobox{
        height: 375px;
        margin-top: 20px;
    }

    .ending{
        margin-bottom: 306px;
    }
}

@media screen and (max-width:768px) {
    header{
        width: 100%;
        height: 100px;
        position: static;
        padding-top: 10px;
        border-bottom: 2px solid #dfdfdf;
    }

    header .hambtn{
        display: block;
        width: 80px;
        height: 80px;
        margin: 10px;
        margin-top: 0;
        border: none;
        background: none;
        color: #333333;
    }

    header ul{
        display: none;
    }

    main{
        height: calc(90vh - 100px);
        min-height: 560px;
        padding-top: 42px;
    }

    main>h2{
        display: block;
        font-weight: 400;
        text-align: center;
        margin-bottom: 30px;
        font-family: 'Nanum';
        font-size: 4rem;
    }

    main .bgbox{
        width: 575px;
        height: 360px;
        top: 220px;
        left: 0;
        background-image: url('../image/mainbg_SMsize.png');
    }

    main .container{
        height: 360px;
    }

    main .container .titlebox .btnbox{
        display: none;
    }

    main>button{
        display: block;
        width: 150px;
        height: 50px;
        background-color: #ff7f00;
        border: none;
        border-radius: 5px;
        color: #ffffff;
        font-size: 2rem;
        font-weight: 700;
        margin: 30px auto;
        margin-bottom: 0;
    }

    #section1{
        height: 90vh;
        min-height: 480px;
        margin-bottom: 10vh;
    }

    #section1 .container .videobox{
        margin-top: 10px;
        margin-bottom: 10px;
        height: calc(90vh - 200px);
        min-height: 330px;
    }

    #section1 .subPageLink{
        display: none;
    }

    #section2{
        height: 90vh;
        min-height: 480px;
        margin-bottom: 10vh;
    }

    #section2 p{
        font-size: 1.5rem;
    }

    #section3{
        height: 90vh;
        min-height: 480px;
        margin-bottom: 10vh;
    }

    #section3 .container .videobox{
        height: calc(45vh - 120px);
        min-height: 140px;
    }

    #section3 .subtitle p{
        display: none;
    }

    #section3 .row:nth-of-type(3) p{
        margin-top: 10px;
        font-size: 1.5rem;
        text-align: center;
    }

    #section3 .row:nth-of-type(3) p span{
        font-weight: 700;
    }

    #section3 .subPageLink{
        display: none;
    }

    #section4{
        height: 90vh;
        min-height: 480px;
        margin-bottom: 10vh;
    }

    #section4 .container .videobox{
        height: calc(90vh - 200px);
        min-height: 280px;
    }

    #section4 .container .row:nth-of-type(3) p{
        font-size: 1.5rem;
        text-align: center;
        margin-top: 10px;
    }

}

@media screen and (max-width: 576px) {
    main .bgbox{
        left: calc(100% - 576px);
    }

    main .container .titlebox h1{
        font-size: 6rem;
    }

    main .container .titlebox h2{
        font-size: 1.5rem;
    }

    #section1 .container .subtitle h2{
        font-size: 3rem;
    }
}

@media screen and (max-width: 340px) {
    main .container .titlebox h1{
        font-size: 4rem;
    }

    main .container .titlebox h2{
        font-size: 1rem;
    }

    #section1 .container .subtitle h2{
        font-size: 2rem;
    }
}